@import url('https://fonts.google.com/specimen/Tajawal');
@import url('https://fonts.google.com/specimen/Cinzel');
@import url('https://fonts.google.com/specimen/Montserrat');

*{
    box-sizing: border-box;
    font-family: Tajawal;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

/* NavBar */
.nav ul{
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid lightgray;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover{
    background-color: gray;
}


.main-header{
    background-color:lightgreen;
    padding-bottom: 20px;
}

.name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
}
.name-large{
    font-size: 9em;
}

/* FooterNav */

.main-footer {
    background-color: lightgreen;
    color: white;
    padding: .25em 0;
} 

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    
}
.footer-nav li{
    padding: 0 .5em;
    
}
.footer-nav img {
    width: 30px;
    height: 30px;
}