@import url('https://fonts.google.com/specimen/Tajawal');
@import url('https://fonts.google.com/specimen/Cinzel');
@import url('https://fonts.google.com/specimen/Montserrat');

*{
    box-sizing: border-box;
    font-family: Tajawal;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

/* NavBar */
.nav ul{
    margin: 0;
}
.nav li {
    display: inline;
}
.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid lightgray;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover{
    background-color: gray;
}


.main-header{
    background-color:lightgreen;
    padding-bottom: 20px;
}

.name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Cinzel;
    font-weight: normal;
    color: white;
}
.name-large{
    font-size: 9em;
}

/* FooterNav */

.main-footer {
    background-color: lightgreen;
    color: white;
    padding: .25em 0;
} 

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    
}
.footer-nav li{
    padding: 0 .5em;
    
}
.footer-nav img {
    width: 30px;
    height: 30px;
}


/* index.html */

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background: radial-gradient(#fff, #ffd6d6) */
    /* margin-top: 70px; */
}

.container1{
    background-color: #E8EEF1;
}



.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

/* Featured Categories */

.categories{
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    border: 1px solid #555;
    height: 400px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Featured Product */

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}